[project]
name = "dimos"
authors = [
    {name = "Stash Pomichter", email = "stash@dimensionalOS.com"},
]
version = "0.0.2"
description = "Powering agentive generalist robotics"

[tool.ruff]
line-length = 120

[tool.pytest.ini_options]
testpaths = ["dimos/robot"]
norecursedirs = ["dimos/robot/unitree/external"]
markers = [
    "vis: marks tests that run visuals and require a visual check by dev",
    "benchmark: benchmark, executes something multiple times, calculates avg, prints to console",
    "exclude: arbitrary exclusion from CI and default test exec",
    "tool: dev tooling",
    "needsdata: needs test data to be downloaded"]

addopts = "-v -ra --color=yes -m 'not vis and not benchmark and not exclude and not tool and not needsdata'"
