name: tests

on:
 workflow_call:
   inputs:
     should-run:
       required: false
       type: boolean
       default: true
     dev-image:
       required: true
       type: string
       default: "dev:dev"
     cmd:
       required: true
       type: string

permissions:
  contents: read
  packages: read

jobs:

  # cleanup:
  #   runs-on: dimos-runner-ubuntu-2204
  #   steps:
  #     - name: exit early
  #       if: ${{ !inputs.should-run }}
  #       run: |
  #         exit 0
          
  #     - name: Free disk space
  #       run: |
  #         sudo rm -rf /opt/ghc
  #         sudo rm -rf /usr/share/dotnet
  #         sudo rm -rf /usr/local/share/boost
  #         sudo rm -rf /usr/local/lib/android
          
  run-tests:
    runs-on: [self-hosted, Linux]
    container:
      image: ghcr.io/dimensionalos/${{ inputs.dev-image }}

    steps:
      - uses: actions/checkout@v4
          
      - name: Fix permissions
        run: |
          git config --global --add safe.directory '*'
          
      - name: Run tests
        run: |
          /entrypoint.sh bash -c "${{ inputs.cmd }}"
          
      - name: check disk space
        if: failure()
        run: |
          df -h
        
