name: tests

on:
 workflow_call:
   inputs:
     dev-image:
       required: true
       type: string
       default: "dev:dev"
     cmd:
       required: true
       type: string

permissions:
  contents: read
  packages: read

jobs:
  run-tests:
    runs-on: [self-hosted, Linux]
    container:
      image: ghcr.io/dimensionalos/${{ inputs.dev-image }}
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
        ALIBABA_API_KEY: ${{ secrets.ALIBABA_API_KEY }}

    steps:
      - uses: actions/checkout@v4

      - name: Fix permissions
        run: |
          git config --global --add safe.directory '*'

      - name: Run tests
        run: |
          /entrypoint.sh bash -c "${{ inputs.cmd }}"

      - name: check disk space
        if: failure()
        run: |
          df -h
